*.csv
*.pyc
*.pyo
*.class
.DS_Store
*.o
*.lo
*.la
*~
*.swp
*.swo
*.sav
*.orig
_generated_media/*
.dynamic_media/*
.coverage
htmlcov/*
.idea/*
docs/_build/*
build/*
*.egg-info
substrate/data/*
dist/*
.hgcheck/*
